@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(240 10% 3.9%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: 240 10% 3.9%;
  --color-muted: hsl(240 4.8% 95.9%);
  --color-muted-foreground: hsl(240 3.8% 46.1%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(240 10% 3.9%);
  --color-border: hsl(240 5.9% 90%);
  --color-input: hsl(240 5.9% 90%);
  --color-primary: hsl(240 5.9% 10%);
  --color-primary-foreground: hsl(0 0% 98%);
  --color-secondary: hsl(240 4.8% 95.9%);
  --color-secondary-foreground: hsl(240 5.9% 10%);
  --color-accent: hsl(240 4.8% 95.9%);
  --color-accent-foreground: hsl(240 5.9% 10%);
  --color-destructive: hsl(0 72.2% 50.6%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-input: hsl(240 5.9% 90%);
  --color-ring: hsl(240 10% 3.9%);

  --color-info: hsl(204 94% 94%);
  --color-info-foreground: hsl(199 89% 48%);
  --color-success: hsl(149 80% 90%);
  --color-success-foreground: hsl(160 84% 39%);
  --color-warning: hsl(48 96% 89%);
  --color-warning-foreground: hsl(25 95% 53%);
  --color-error: hsl(0 93% 94%);
  --color-error-foreground: hsl(0 84% 60%);

  --color-sidebar-background: hsl(0 0% 98%);
  --color-sidebar-foreground: hsl(240 5.3% 26.1%);
  --color-sidebar-primary: hsl(240 5.9% 10%);
  --color-sidebar-primary-foreground: hsl(0 0% 98%);
  --color-sidebar-accent: hsl(240 4.8% 95.9%);
  --color-sidebar-accent-foreground: hsl(240 5.9% 10%);
  --color-sidebar-border: hsl(220 13% 91%);
  --color-sidebar-ring: hsl(217.2 91.2% 59.8%);

  --font-sans-inter: "Inter Variable", var(--font-sans);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--kb-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--kb-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes content-show {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes content-hide {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.96);
    }
  }

  @keyframes caret-blink {
    0%,70%,100% {
      opacity: 1;
    }

    20%,50% {
      opacity: 0;
    }
  }

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-content-show: content-show 0.2s ease-out;
  --animate-content-hide: content-hide 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes indeterminate-progress {
    0% {
      transform: translateX(-100%) scaleX(0);
    }
    35% {
      transform: translateX(-30%) scaleX(0.7);
    }
    63% {
      transform: translateX(100%) scaleX(0.7);
    }
    64% {
      transform: translateX(100%) scaleX(0);
    }
    65% {
      transform: translateX(-100%) scaleX(0);
    }
    85% {
      transform: translateX(50%) scaleX(0.6);
    }
    100% {
      transform: translateX(100%) scaleX(0);
    }
  }

  --animate-indeterminate: indeterminate-progress 2s infinite linear;
}

@layer base {
  .dark {
    --color-background: hsl(240 10% 3.9%);
    --color-foreground: hsl(0 0% 98%);
    --color-card: 240 10% 3.9%;
    --color-card-foreground: 0 0% 98%;
    --color-muted: hsl(240 3.7% 15.9%);
    --color-muted-foreground: hsl(240 5% 64.9%);
    --color-popover: hsl(240 10% 3.9%);
    --color-popover-foreground: hsl(0 0% 98%);
    --color-card: hsl(240 10% 3.9%);
    --color-card-foreground: hsl(0 0% 98%);
    --color-border: hsl(240 3.7% 15.9%);
    --color-input: hsl(240 3.7% 15.9%);
    --color-primary: hsl(0 0% 98%);
    --color-primary-foreground: hsl(240 5.9% 10%);
    --color-secondary: hsl(240 3.7% 15.9%);
    --color-secondary-foreground: hsl(0 0% 98%);
    --color-accent: hsl(240 3.7% 15.9%);
    --color-accent-foreground: hsl(0 0% 98%);
    --color-destructive: hsl(0 62.8% 30.6%);
    --color-destructive-foreground: hsl(0 0% 98%);
    --color-input: hsl(240 3.7% 15.9%);
    --color-ring: hsl(240 4.9% 83.9%);

    --color-info: hsl(226.2 57% 21%);
    --color-info-foreground: hsl(199 89% 48%);
    --color-success: hsl(165.7 91.3% 9%);
    --color-success-foreground: hsl(160 84% 39%);
    --color-warning: hsl(26 83.3% 14.1%);
    --color-warning-foreground: hsl(25 95% 53%);
    --color-error: hsl(0 74.7% 15.5%);
    --color-error-foreground: hsl(0 84% 60%);

    --color-sidebar-background: hsl(240 5.9% 10%);
    --color-sidebar-foreground: hsl(240 4.8% 95.9%);
    --color-sidebar-primary: hsl(0 0% 98%);
    --color-sidebar-primary-foreground: hsl(240 5.9% 10%);
    --color-sidebar-accent: hsl(240 3.7% 15.9%);
    --color-sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --color-sidebar-border: hsl(240 3.7% 15.9%);
    --color-sidebar-ring: hsl(217.2 91.2% 59.8%);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans-inter;
  }
}

@utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

[data-corvu-resizable-panel]:has(+ [data-corvu-resizable-handle][data-dragging]) iframe {
  pointer-events: none;
}
